.bicicletas-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-list h2 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-list ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;  
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletas-list li {
  min-width: 280px;
}

.bicicletas-list a {
  display: block;
}

.bicicletas-list img {
  margin-bottom: 16px;
}

.bicicletas-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-list h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: 0.2s;
}

.bicicletas-list a:hover h3::before {
  width: 24px;
}

.bicicletas-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-list {
    padding-bottom: 60px;
  }

  .bicicletas-list ul {
    gap: 20px;
  }
}